<div class="bg-primary w-full p-16 flex static bottom-0 text-secondary space-x-24 items-baseline text-s">
    <div class="flex-col flex space-y-4">
        <a 
        routerLink="/mentions-legales" 
        routerLinkActive="underline text-shinning" 
        class=""
    >
        Mentions Légales
    </a>

    <a 
        routerLink="/cgs-cgu" 
        routerLinkActive="underline text-shinning" 
        class=""
    >
        CGS/CGU
    </a>

    <a 
        routerLink="/contact" 
        routerLinkActive="underline text-shinning" 
        class=""
    >
        Contact
    </a>

    <a 
        routerLink="/a-propos" 
        routerLinkActive="underline text-shinning" 
        class=""
    >
        A propos
    </a>
    </div>
    <div class="flex-col flex space-y-4">
        <a routerLink="/accueil">Accueil</a>
        <a routerLink="/connexion">Se connecter</a>
        <a routerLink="/panier">Panier</a>
        <a routerLink="/magasin">Je shop</a>
        <a routerLink="/compte">Mon compte</a>
    </div>
    <div>
        <span class="icon-facebook text-white text-m"></span>
    </div>
</div>
