
<div class="flex flex-col p-24 pb-62 bg-light">
    <div class="border-b border-primary pb-40 z-10 relative">
        <h2 class="text-primary text-xl font-title font-l">J'ai déjà un compte</h2>
        <form action="POST" class="flex flex-col space-y-8 mt-20">
            <div class="flex flex-col">
                <label for="" class="text-primary text-s">Identifiant</label>
                <input type="text" name="" id="" class="border-primary border rounded-s bg-tertiary text-secondary">
            </div>
            <div class="flex flex-col ">
                <label for="" class="text-primary text-s">Mot de passe</label>
                <input type="password" name=""  id="" class="border border-primary rounded-s bg-tertiary" >
            </div>
        </form>
    </div>
    <div class="pt-24">
        <h2 class="text-primary text-xl mb-40 font-title font-l">Je n'ai pas encore de compte</h2>
        <div class="w-full flex justify-center"> 
            <a class=" bg-secondary rounded-s py-12 px-24 text-primary text-xl shadow-lg shadow-primary" routerLink="/inscription">
                Mais j'en veux un !
            </a>
        </div>
    </div>
</div>





