<nav class="p-12 bg-light">
    <ul class="flex space-x-8 text-s text-primary font-bold">
        <li>
            <a routerLink="/accueil" routerLinkActive="underline">Accueil</a>
        </li>
        <li>
            <a routerLink="/connexion" routerLinkActive="underline">Se connecter</a>
        </li>
        <li>
            <a routerLink="/compte" routerLinkActive="underline">Mon compte</a>
        </li>
        <li>
            <a routerLink="/panier" routerLinkActive="underline">Panier</a>
        </li>
        <li>
            <a routerLink="/magasin" routerLinkActive="underline">Je shop</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
