<div class="bg-light p-24">
    <div class="w-full flex justify-center ">
        <h2 class="text-primary pt-24 font-title font-l text-xl">Remplissez les champs pour vous inscrire</h2>
    </div>
    <form class="flex flex-col space-y-8 mt-20">
        <div class="flex flex-col">
            <label for="" class="text-primary text-s">Prénom</label>
            <input type="text" name="" id="" class="border-primary border rounded-s bg-tertiary text-secondary">
        </div>
        <div class="flex flex-col">
            <label for="" class="text-primary text-s">Nom</label>
            <input type="text" name="" id="" class="border-primary border rounded-s bg-tertiary text-secondary">
        </div>
        <div class="flex flex-col">
            <label for="" class="text-primary text-s">Email</label>
            <input type="email" name="" id="" class="border-primary border rounded-s bg-tertiary text-secondary">
        </div>
        <div class="flex flex-col">
            <label for="" class="text-primary text-s">Mot de passe</label>
            <input type="password" name="" id="" class="border-primary border rounded-s bg-tertiary text-secondary">
        </div>
        <div class="flex flex-col">
            <label for="" class="text-primary text-s">Adresse</label>
            <input type="text" name="" id="" class="border-primary border rounded-s bg-tertiary text-secondary">
        </div>
        <div class="flex w-full justify-between">
            <div class="flex flex-col w-[40%]">
                <label for="" class="text-primary text-s">Code postal</label>
                <input type="number" name="" id="" class="border-primary border rounded-s bg-tertiary text-secondary">
            </div>
            <div class="flex flex-col">
                <label for="" class="text-primary text-s flex-grow">Ville</label>
                <input type="text" name="" id="" class="border-primary border rounded-s bg-tertiary text-secondary">
            </div>
        </div>
    </form>
</div>